Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AssetsInArtPass/yuk/decals/Are_you_fat.uasset
Content/AssetsInArtPass/yuk/decals/decal-posters6.uasset
